.section2{
  padding: 20px 20px;
  background-color: rgb(175, 168, 154);
  &__container{
    max-width: 1700px;
    margin: 0 auto;
  }
  &__main-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
  }
  &__text{
    font-size: 43px;
    color: black;
    text-transform: uppercase;
    text-align: center;
  }
  &__title{
    text-align: left;
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 60px;
    position: relative;
    padding-right: 20px;
      &::before{
        content: '';
        width: 80px;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.281);
        position: absolute;
        bottom: -10px;
        left: -23px;
      }
    }
}