*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
@-moz-document url-prefix() {
  html{
    scrollbar-width: none;
  }
}
body{
  font-family: var(--font-main);
  scrollbar-width: none;
    &::-webkit-scrollbar{
      width: 0;
      }     
}
.active-modal{
  overflow: hidden;
}
a{
  text-decoration: none;
  outline: none;
  color: #000000;
}

textarea,input {
  resize: none;
  width: 100%;
  outline: none;
}

button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

  ul,ol,li{
   list-style: none;
   stroke-width:inherit;
}

@font-face{
  font-family: "Roboto";
  src: url(./fonts/RobotoMono-Regular.ttf)
}

:root{
  --font-main:"Roboto";
}


